/* :root {
    background-color: rgb(0,0,0);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling for main container on page */
.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

/*  styling for question container, score etc */
#q-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
    width: 100%;
    justify-content: center;
}

/*  styling for top bar (score, progress bar, etc) */
#top-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1fr 1fr 1fr;
}

.top-bar-text {
    grid-column: 1;
    text-align: center;
    font-size: 2rem; 
}

.top-bar-main-text {
    text-align: center;
}
#progressText {
    font-size: 150%;
    grid-column: 1, 2;
    grid-row: 1,2;

}
#progressBar {
    width: 15rem;
    height: 2rem;
    border: 0.2rem solid blueviolet;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: blueviolet;
    width: 0%;
}

/* styling for option A-D containers */
.answer-btn {
    background-color: aqua;
    width: 100%;
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 120%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* hidden class */
.hidden {
    display: none;
}

/* styling for start and next buttons */
.button {
    background-color: gray;
    width: 25%;
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 120%;
}

/* styling for the end of quiz page */
#quiz-end {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row: 2;
    width: 100%;
    justify-content: center;
}

/* styling for the summary table */
#question-table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
    padding: 10px;
}

/*  media queries */