/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;800&family=Nova+Square&display=swap');

/* :root values */
:root {
    /* Main colour scheme */
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --accent-red: rgb(221, 0, 0);
    --accent-gold: rgb(255, 206,0);
    --soft-gold: rgb(238, 219, 137);
    --correct: rgb(140, 168, 145);
    --incorrect: rgba(231, 74, 57, 0.74);
    
    /* Fonts */
    --h1: Kanit;
    --h2: Kanit;
    --main-text: Kanit;
}

/* top level general styling of page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: var(--black);
    height: 100%;
    width: 100%;
    background: url(../images/german-flag-distressed-hd.webp);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
    font-family: var(--main-text);
    overflow-x: hidden;
}
p {
    color: var(--white);
    font-family: var(--main-text);
}

h1 {
    font-size: 2rem; /* 3 for mq */
    color: var(--white);
    font-family: var(--h1);
    font-weight: 800;
}

h2 {
    font-size: 1.2rem;
    color: var(--black);
    font-family: var(--h2);
}

h3 {
    font-size: 1rem;
    color: var(--white);
    font-family: var(--h2);
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Nav bar styling */
.nav-bar {
    background-color: var(--black);
    color: var(--accent-gold);
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--main-text);
    font-size: 1.3rem;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px;
    align-items: center;
}

/* Main container styling */

/* Home page styling */
.home-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    margin: 0 auto;
    display: grid;
/*     grid-template-columns: repeat(5 1fr);
    grid-template-rows: repeat; */
}

/* Main quiz container styling */
.main-container {
    /* background-color: rgba(255,255,255,0.4); */
    width: 100vw;
    height: 100vh;
    display: grid;
/*     grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

/*  Question container, score etc */
#q-container {
    background-color: rgba(255,255,255,0.5);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    width: 100vw;
    /* justify-content: center; */
}

/* High-score page styling */
.high-score-container {
    width: 100vw;
    height: 100vh;
    display: grid;
/*     grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

/* container for next and end buttons */
.next-end {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

/* styling for the end of quiz page */
#quiz-end {
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-row: 2;
    width: 100%;
    justify-content: center;
    /* background-color: var(--black); */
}
/* Buttons */
.btn {
    font-family: var(--main-text);
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 2rem 0 var(--accent-gold);
}

#home-btn {
    grid-column-start: 2;
    grid-column-end: 3;
    color: var(--accent-red);
}

#home-btn:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-gold);
    cursor: pointer;
}

#how-to-play-btn {
    grid-column-start: 4;
    grid-column-end: 7;
}

#how-to-play-btn:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-red);
    cursor: pointer;
}

#start-btn {
    color: var(--accent-gold);
    background: linear-gradient(90deg,var(--black) 0%, var(--accent-red) 100%);
    height: 2rem;
    width: auto;
    padding: 1rem;
    line-height: 0.3rem;
    font-size: 120%;
}

#high-score-btn {
    color: var(--accent-gold);
    background: linear-gradient(90deg,var(--black) 0%, var(--accent-red) 100%);
    height: 2rem;
    width: auto;
    padding: 1rem;
    line-height: 0.3rem;
    font-size: 120%;
}

.next-end-btn {
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 1.2rem;
    background-color: var(--black);
    color: var(--accent-gold);
    grid-column-start: 4;
    grid-column-end: 6;
}

#review-btn {
    font-size: 1.2rem;
    background-color: var(--black);
    color: var(--accent-gold);
}

/* styling for option A-D containers */
.answer-btn {
    background-color: var(--accent-gold);
    width: 90%;
    text-align: center;
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
}


/* The Modal (background) */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
}

  /* Modal Content/Box */
.modal-content {
    background-color: rgba(0,0,0,0.9);
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
}

/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  styling for top bar (score, progress bar, etc) */
#top-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1fr 1fr 1fr;
}

.top-bar-text {
    grid-column: 1;
    text-align: center;
    font-size: 120%; 
    color: var(--black);
}

.top-bar-main-text {
    text-align: center;
    font-size: 120%;
}
#progressText {
    font-size: 120%;
    grid-column: 1, 2;
    grid-row: 1,2;

}
#progressBar {
    width: 5rem;
    height: 1rem;
    border: 0.2rem solid var(--black);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: var(--accent-red);
    width: 0%;
}

.option-container {
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.question-box {
    margin: 25px;
}

/* styling for correct and incorrect answers */
.correct {
    background-color: var(--correct);
}

.incorrect {
    background-color: var(--incorrect);
}


/* styling for the summary table */
#question-table {
    border-collapse: collapse;
    max-width: 100%;
/*     max-height: 100%; */
    font-size: 0.8rem;
}

#quiz-score {
    color: var(--accent-gold);
}

#end-timer {
    color: var(--white);
}

td, th {
    border: 1px solid;
    padding: 10px;
}

th {
    color: var(--white);
}

.true {
    background-color: var(--correct);
}

.false {
    background-color: var(--incorrect);
}

/* Highscore styling */
#high-score-list {
    color: var(--white);
   /*  list-style-type: none; */
}

/* hidden class */
.hidden {
    display: none;
}




/*  media queries */